<div class="dropdown" *ngIf="items.length > 0">
  <ul>
    <li *ngFor="let item of items" class="item-container">
      <div class="album-info">
        <img
          *ngIf="item.photo"
          [src]="item.photo"
          alt="Album Photo"
          class="album-photo"
        />
        <div class="track-info">
          <strong>{{ item.mainText }}</strong>
          <br />
          <span *ngIf="currentType !== 'artist'">
            Artist{{ item.subText.length === 1 ? "" : "s" }}:
            {{ item.subText.join(", ") }}
          </span>
          <span *ngIf="currentType === 'artist'">
            {{ item.subText[0] }} followers
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
