<!-- src/app/components/search-bar/search-bar.component.html -->
<header>
  <nav class="navbar">
    <!-- Logo and Home button -->
    <div class="logo-and-search">
      <div class="logo-section">
        <img
          src="../../../assets/images/green-note.jpeg"
          alt="green-note"
          class="logo-image"
        />
      </div>

      <!-- Search bar -->
      <div class="search-section">
        <input
          type="text"
          class="search-input"
          placeholder="Search..."
          [(ngModel)]="searchTerm"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
        <button class="search-button" (click)="onSearch()">Search</button>
        <app-search-dropdown
          *ngIf="trackList.length > 0 && isInputFocused"
          [items]="trackList"
        ></app-search-dropdown>
      </div>
    </div>

    <!-- Other navigation buttons -->
    <div class="nav-buttons">
      <button
        class="nav-button"
        [class.active]="activeButton === 'album'"
        (click)="setActiveButton('album')"
      >
        Album
      </button>
      <button
        class="nav-button"
        [class.active]="activeButton === 'artist'"
        (click)="setActiveButton('artist')"
      >
        Artist
      </button>
      <button
        class="nav-button"
        [class.active]="activeButton === 'track'"
        (click)="setActiveButton('track')"
      >
        Track
      </button>
    </div>
  </nav>
</header>
