.artist-page {
  color: white;
  background-color: #181818;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.artist-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.artist-photo {
  max-height: 150px;
  margin-right: 20px;
  border-radius: 50%;
}

.artist-meta {
  display: flex;
  flex-direction: column;
}

.artist-meta p {
  margin: 5px 0;
}

.artist-meta a {
  color: #1db954;
  text-decoration: none;
  margin-top: 10px;
}

.artist-meta a:hover {
  text-decoration: underline;
}
