<header>
  <nav class="navbar">
    <!-- Logo and Home button -->
    <div class="logo-and-search">
      <div class="logo-section">
        <img
          src="../../../assets/images/green-note.jpeg"
          alt="green-note"
          class="logo-image"
          [routerLink]="['/home']"
        />
      </div>

      <!-- Search bar -->
      <div class="search-section">
        <input
          type="text"
          class="search-input"
          placeholder="Search..."
          [(ngModel)]="searchTerm"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
        <select
          class="search-dropdown"
          [(ngModel)]="currentType"
          (change)="onTypeChange($event)"
        >
          <option value="album">Album</option>
          <option value="artist">Artist</option>
          <option value="track">Track</option>
        </select>
        <app-search-dropdown
          *ngIf="searchResult.length > 0 && isInputFocused"
          [items]="searchResult"
          [currentType]="currentType"
        ></app-search-dropdown>
      </div>
    </div>

    <!-- Profile picture placeholder -->
    <div class="profile-section">
      <img
        src="../../../assets/images/profile-picture-placeholder.jpg"
        alt="Profile"
        class="profile-image"
      />
    </div>
  </nav>
</header>
