header {
  background-color: black;
  margin: 0;
  padding: 0;
}

.logo-and-search {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-image {
  max-height: 40px; /* Adjust height as needed */
  flex-shrink: 0;
  cursor: pointer;
}

.search-section {
  display: flex;
  align-items: center;
  position: relative; /* Added for dropdown positioning */
  width: 100%;
  margin-left: 100px;
}

.search-input {
  padding: 8px;
  border: none;
  background-color: #333; /* Darker background */
  color: white;
  font-size: 16px;
  margin-right: 8px; /* Space between input and button */
  width: 100%;
  min-width: 500px;
}

.search-dropdown {
  padding: 8px 12px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

app-search-dropdown {
  position: absolute;
  top: calc(100%); /* Position directly below the input with a small gap */
  left: 0;
  width: 86%;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-image {
  max-height: 40px; /* Adjust height as needed */
  border-radius: 50%;
  cursor: pointer;
}
